@charset "UTF-8";
/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/martian-mono-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/martian-mono-v6-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/martian-mono-v6-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: var(--neutral-700);
  background-color: var(--neutral-0);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.img--border-radius {
  border-radius: clamp(0.7656rem, -0.0031rem + 3.2799vw, 1.5713rem);
}

@media (min-width: 768px) {
  .img--border-radius {
    border-radius: clamp(1.25rem, 1.9384rem - 0.7649vw, 1.5713rem);
  }
}
.btn--primary {
  align-items: center;
  background: var(--light-salmon-50);
  border: 2px solid var(--neutral-900);
  border-radius: 0.5rem;
  color: var(--neutral-900);
  cursor: pointer;
  display: inline-flex;
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  font-weight: 600;
  gap: 1rem;
  justify-content: center;
  letter-spacing: -1px;
  line-height: 1.3em;
  padding: 1.25rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.btn--primary:hover {
  background: var(--gradient);
}
.btn--primary:focus, .btn--primary:active {
  box-shadow: 0 0 0 3px var(--neutral-0), 0 0 0 5px var(--neutral-700);
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.testimonial .testimonial__image {
  max-width: 6.875rem;
}
.testimonial .testimonial__rating {
  display: flex;
  flex-direction: column;
}
.testimonial .testimonial__rating__stars {
  display: flex;
}
.testimonial .testimonial__rating__text {
  font-size: 0.875rem;
  font-family: "Martian Mono", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
}

:root {
  --neutral-900: hsl(194, 78%, 11%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-200: hsl(18, 12%, 89%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-0: hsl(0, 0%, 100%);
  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );
  --container-max-width: 73.125rem;
  --container-width: 91.5%;
}

header .navbar {
  padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) 0 0;
}

body {
  position: relative;
}

p {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

h1 {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(2.375rem, 0.9437rem + 6.1069vw, 3.875rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
}

h2 {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(2.125rem, 1.1708rem + 4.0712vw, 3.125rem);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -2px;
  color: var(--neutral-900);
}

h3 {
  font-family: "Martian Mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  color: var(--neutral-900);
}

figure blockquote p {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(1.5rem, 0.9036rem + 2.5445vw, 2.125rem);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
}
figure footer cite {
  font-style: normal;
}

.bg--top {
  background-color: var(--neutral-100);
  position: absolute;
  z-index: -1;
}
.bg--top .second {
  visibility: hidden;
  height: 0;
}

.bg--dark {
  position: relative;
  background-color: var(--neutral-900);
  z-index: -1;
}
.bg--dark h2,
.bg--dark p,
.bg--dark a {
  color: var(--neutral-100);
}

.hero {
  margin-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  padding-bottom: 5rem;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.hero__title {
  background: var(--text-gradient);
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

.features {
  background-color: var(--neutral-0);
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
}
.features__container {
  display: grid;
  gap: clamp(2.5rem, -0.3571rem + 5.9524vw, 5rem);
}
.features__content {
  display: grid;
  gap: clamp(1.5rem, 0.9036rem + 2.5445vw, 2.125rem);
}
.features__list {
  display: grid;
  gap: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
}
.features__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.875rem;
}

.technologies {
  background-color: var(--neutral-0);
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
}
.technologies__container {
  display: grid;
  gap: clamp(2.5rem, -0.3571rem + 5.9524vw, 5rem);
}
.technologies__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 534px;
}
.technologies__logos {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.technologies__encircled-text {
  display: inline-block;
  overflow: visible;
  position: relative;
  z-index: 1;
}
.technologies__encircled-text .circle-img {
  position: absolute;
  left: clamp(-1rem, 0.4656rem - 3.0534vw, -0.25rem);
  top: -3px;
  z-index: 2;
  height: clamp(2.9375rem, 1.6851rem + 5.3435vw, 4.25rem);
  width: clamp(6.8125rem, 3.8306rem + 12.7226vw, 9.9375rem);
}
.technologies__encircled-text .circle-img img {
  width: 100%;
  height: 100%;
}

.journey {
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
}
.journey__container {
  background-color: var(--neutral-100);
  display: grid;
  gap: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  padding-block: 4rem;
  padding-inline: 1rem;
  border-radius: 12px;
  position: relative;
}
.journey__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.journey__bg svg {
  width: 100%;
  height: auto;
}
.journey__bg-glow {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: blur(50px);
  opacity: 1;
  z-index: 0;
}
.journey__list {
  display: grid;
  gap: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
}
.journey__item {
  display: grid;
  gap: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);
  position: relative;
  z-index: 1;
}
.journey__item p {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
}
.journey__number {
  border: 2px solid var(--neutral-900);
  border-radius: 4px;
  display: inline-block;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  height: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
}

.pricing {
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
}
.pricing__container {
  display: grid;
  gap: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
}
.pricing__card-container {
  display: grid;
  gap: 1.5rem;
}
.pricing__card {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: 0.5rem;
  display: grid;
  gap: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  padding: 1.5rem;
}
.pricing__card .top {
  display: grid;
  gap: 1.5rem;
  z-index: 2;
}
.pricing__card .top hr {
  color: var(--neutral-200);
  width: 100%;
}
.pricing__card .btn--primary {
  z-index: 2;
}
.pricing__card--featured {
  background-color: var(--neutral-100);
  position: relative;
}
.pricing__card--featured .glow {
  position: absolute;
  bottom: -10px;
  filter: blur(15px);
  opacity: 0.4;
  right: 0;
  width: 100%;
  z-index: 1;
}
.pricing__membership-inclusions {
  display: grid;
  gap: 1rem;
}
.pricing .membership-inclusions__item {
  display: flex;
  gap: 0.75rem;
}
.pricing .price {
  display: flex;
  gap: 0.5rem;
}
.pricing .amount {
  font-family: "Martian Mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  color: var(--neutral-900);
}
.pricing .duration {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

section.testimonial {
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
}

.testimonial__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonial__item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__bg-image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.footer__bg-image div {
  height: auto;
  width: auto;
}

footer {
  overflow: hidden;
  position: relative;
  padding-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  z-index: 1;
}
footer h2 {
  text-align: center;
}
footer .btn--primary {
  background-color: transparent;
  border-color: var(--neutral-100);
}
footer .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 750px;
}
footer .footer__content .bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .footer__bottom {
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--neutral-700);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
}
footer .footer__bottom p {
  font-size: 0.875rem;
  font-family: "Martian Mono", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
}
footer .footer__socials {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .bg--top .second {
    visibility: visible;
    height: auto;
  }
  .pricing__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    padding: 1.5rem 2rem;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1170px;
  }
}
@media (min-width: 64rem) {
  .bg--top .second {
    visibility: hidden;
    height: 0;
  }
  .hero__container {
    flex-direction: row;
  }
  .hero__image {
    min-width: 33.75rem;
  }
  .features__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .features__image {
    max-width: 35rem;
  }
  .technologies__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .technologies__image {
    position: relative;
  }
  .technologies__logos {
    visibility: visible;
    height: auto;
    position: absolute;
    bottom: 31px;
    left: -80px;
  }
  .journey__title {
    margin-inline: auto;
  }
  .journey__list {
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
  }
  .pricing__title, .pricing__card-container {
    margin: 0 auto;
  }
  .pricing__card-container {
    display: flex;
    align-items: center;
  }
  .pricing__card--featured {
    padding-block: 2.5rem;
    min-width: 350px;
  }
  .testimonial__container {
    align-items: center;
  }
  .testimonial__item {
    align-items: center;
    max-width: 60rem;
    text-align: center;
  }
}