@charset "UTF-8";
/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/martian-mono-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/martian-mono-v6-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/martian-mono-v6-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: var(--neutral-700);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.btn--primary {
  align-items: center;
  background: var(--light-salmon-50);
  border: 2px solid var(--neutral-900);
  border-radius: 0.5rem;
  color: var(--neutral-900);
  cursor: pointer;
  display: inline-flex;
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  font-weight: 600;
  gap: 1rem;
  justify-content: center;
  letter-spacing: -1px;
  line-height: 1.3em;
  padding: 1.25rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--primary:hover {
  background: var(--gradient);
}
.btn--primary:focus, .btn--primary:active {
  box-shadow: 0 0 0 3px var(--neutral-0), 0 0 0 5px var(--neutral-700);
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.testimonial .testimonial__image {
  max-width: 6.875rem;
}
.testimonial .testimonial__rating {
  display: flex;
  flex-direction: column;
}
.testimonial .testimonial__rating__stars {
  display: flex;
}
.testimonial .testimonial__rating__text {
  font-size: 0.875rem;
  font-family: "Martian Mono", sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -1px;
}

:root {
  --neutral-900: hsl(194, 78%, 11%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-200: hsl(18, 12%, 89%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-0: hsl(0, 0%, 100%);
  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );
  --container-max-width: 70rem;
  --container-width: 90%;
}

header .navbar {
  padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) 0;
}

.hero {
  margin-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
}
.hero .hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero .hero__title {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(2.375rem, 0.9437rem + 6.1069vw, 3.875rem);
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -2px;
  background: var(--text-gradient);
  background-clip: text;
  color: transparent;
  text-shadow: none;
}
.hero .hero__text {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

footer {
  text-align: center;
}