.btn {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color-light);
  }
}
