body {
  color: var(--neutral-700);
  background-color: var(--neutral-100);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.img--border-radius {
  border-radius: clamp(0.7656rem, -0.0031rem + 3.2799vw, 1.5713rem);
}

@media (min-width: 768px) {
  .img--border-radius {
    border-radius: clamp(1.25rem, 1.9384rem + -0.7649vw, 1.5713rem);
  }
}
