body {
  color: var(--neutral-700);
  background-color: var(--neutral-100);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.img--border-radius {
  border-radius: min(1.35vw, 0.5rem);
}
