@mixin text-preset-1 {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(2.375rem, 0.9437rem + 6.1069vw, 3.875rem);
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -2px;
}

@mixin text-preset-2 {
  font-family: "Martian Mono", sans-serif;
  font-size: clamp(2.125rem, 1.1708rem + 4.0712vw, 3.125rem);
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: -2px;
}

@mixin text-preset-5 {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: -0.5px;
}

@mixin text-preset-7 {
  font-size: 0.875rem;
  font-family: "Martian Mono", sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -1px;
}
