@use "fonts";
@use "reset";
@use "global";
@use "components";
@use "text";
@use "sass:map";

:root {
  // COLORS
  --neutral-900: hsl(194, 78%, 11%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-200: hsl(18, 12%, 89%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-0: hsl(0, 0%, 100%);

  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);

  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );

  // CONTAINER
  --container-max-width: 73.125rem;
  --container-width: 91.5%;
}

header {
  .navbar {
    padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) 0 0;
  }
}

body {
  position: relative;
}

p {
  @include text.text-preset-5;
}

h1 {
  @include text.text-preset-1;
}

h2 {
  @include text.text-preset-2;
  color: var(--neutral-900);
}

h3 {
  @include text.text-preset-4;
  color: var(--neutral-900);
}

figure {
  blockquote {
    p {
      @include text.text-preset-3;
    }
  }
  footer {
    cite {
      font-style: normal;
    }
  }
}

.bg--top {
  background-color: var(--neutral-100);
  position: absolute;
  z-index: -1;

  & .second {
    visibility: hidden;
    height: 0;
  }
}

.bg--dark {
  background-color: var(--neutral-900);
  h2,
  p,
  a {
    color: var(--neutral-100);
  }
}

.hero {
  margin-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  padding-bottom: 5rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__title {
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }
}

.features {
  background-color: var(--neutral-0);
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;

  &__container {
    display: grid;
    gap: clamp(2.5rem, -0.3571rem + 5.9524vw, 5rem);
  }

  &__content {
    display: grid;
    gap: clamp(1.5rem, 0.9036rem + 2.5445vw, 2.125rem);
  }

  &__list {
    display: grid;
    gap: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.875rem;
  }
}

.technologies {
  background-color: var(--neutral-0);
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
  &__container {
    display: grid;
    gap: clamp(2.5rem, -0.3571rem + 5.9524vw, 5rem);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 534px;
  }

  &__logos {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  &__encircled-text {
    display: inline-block;
    overflow: visible;
    position: relative;
    z-index: 1;
    .circle-img {
      position: absolute;
      left: clamp(-1rem, 0.4656rem + -3.0534vw, -0.25rem);
      top: -3px;
      z-index: 2;
      height: clamp(2.9375rem, 1.6851rem + 5.3435vw, 4.25rem);
      width: clamp(6.8125rem, 3.8306rem + 12.7226vw, 9.9375rem);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.journey {
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;

  &__container {
    background-color: var(--neutral-100);
    display: grid;
    gap: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
    padding-block: 4rem;
    padding-inline: 1rem;
    border-radius: 12px;
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
      width: 100%;
      height: auto;
    }

    &-glow {
      position: absolute;
      bottom: 0;
      right: 0;
      filter: blur(50px);
      opacity: 1;
      z-index: 0;
    }
  }

  &__list {
    display: grid;
    gap: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
  }

  &__item {
    display: grid;
    gap: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);
    position: relative;
    z-index: 1;
    p {
      @include text.text-preset-6;
    }
  }

  &__number {
    border: 2px solid var(--neutral-900);
    border-radius: 4px;
    display: inline-block;
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
    height: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  }
}

.pricing {
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;

  &__container {
    display: grid;
    gap: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  }

  &__card-container {
    display: grid;

    gap: 1.5rem;
  }

  &__card {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-200);
    border-radius: 0.5rem;
    display: grid;
    gap: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
    padding: 1.5rem;

    .top {
      display: grid;
      gap: 1.5rem;
      z-index: 2;

      hr {
        color: var(--neutral-200);
        width: 100%;
      }
    }

    .btn--primary {
      z-index: 2;
    }

    &--featured {
      background-color: var(--neutral-100);
      position: relative;

      .glow {
        position: absolute;
        bottom: -10px;
        filter: blur(15px);
        opacity: 0.4;
        right: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &__membership-inclusions {
    display: grid;
    gap: 1rem;
  }

  .membership-inclusions__item {
    display: flex;
    gap: 0.75rem;
  }

  .price {
    display: flex;
    gap: 0.5rem;
  }

  .amount {
    @include text.text-preset-4;
    color: var(--neutral-900);
  }

  .duration {
    @include text.text-preset-5;
  }
}

.testimonial {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

footer {
  padding-top: 3rem;

  h2 {
    text-align: center;
  }

  .btn--primary {
    background-color: transparent;
    border-color: var(--neutral-100);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .footer__bottom {
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--neutral-700);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;

    p {
      @include text.text-preset-7;
    }
  }

  .footer__socials {
    display: flex;
    gap: 1.5rem;
  }
}

@media (min-width: 48rem) {
  .bg--top {
    & .second {
      visibility: visible;
      height: auto;
    }
  }

  .pricing {
    &__card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 64rem) {
  .bg--top {
    & .second {
      visibility: hidden;
      height: 0;
    }
  }

  .hero {
    &__container {
      flex-direction: row;
    }

    &__image {
      min-width: 33.75rem;
    }
  }

  .features {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    &__image {
      max-width: 35rem;
    }
  }

  .technologies {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__image {
      position: relative;
    }

    &__logos {
      visibility: visible;
      height: auto;
      position: absolute;

      bottom: 31px;
      left: -80px;
    }
  }

  .journey {
    &__title {
      margin-inline: auto;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
      flex-direction: row;
    }
  }

  .pricing {
    &__title,
    &__card-container {
      margin: 0 auto;
    }
    &__card-container {
      display: flex;
      align-items: center;
    }

    &__card--featured {
      padding-block: 2.5rem;
      min-width: 350px;
    }
  }

  .testimonial {
    &__container {
      align-items: center;
    }

    &__item {
      align-items: center;
      max-width: 60rem;
      text-align: center;
    }
  }
}
