@use "fonts";
@use "reset";
@use "global";
@use "components";
@use "sass:map";

:root {
  // COLORS
  --neutral-900: hsl(194, 78%, 11%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-200: hsl(18, 12%, 89%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-0: hsl(0, 0%, 100%);

  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);

  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;
}

header {
  .navbar {
    padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) 0;
  }
}

.hero {
  margin-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero__title {
    @include global.text-preset-1;
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }
}

footer {
  text-align: center;
}
