@use "fonts";
@use "reset";
@use "global";
@use "components";
@use "text";
@use "sass:map";

:root {
  // COLORS
  --neutral-900: hsl(194, 78%, 11%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-200: hsl(18, 12%, 89%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-0: hsl(0, 0%, 100%);

  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);

  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );

  // CONTAINER
  --container-max-width: 73.125rem;
  --container-width: 91.5%;
}

header {
  .navbar {
    padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) 0 0;
  }
}

body {
  position: relative;
}

p {
  @include text.text-preset-5;
}

h1 {
  @include text.text-preset-1;
}

h2 {
  @include text.text-preset-2;
}

.bg--top {
  position: absolute;
  z-index: -1;

  & .second {
    visibility: hidden;
    height: 0;
  }
}

.hero {
  margin-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  padding-bottom: 5rem;
  .hero__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .hero__title {
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }

  .hero__image {
    border-radius: min(1.35vw, 0.5rem);
    overflow: hidden;
  }
}

.features {
  background-color: var(--neutral-0);
  margin: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem) 0;
  .features__title {
    margin-bottom: clamp(1.5rem, 0.9036rem + 2.5445vw, 2.125rem);
  }
}

footer {
  background-color: white;
  text-align: center;
}

@media (min-width: 48rem) {
  .bg--top {
    & .second {
      visibility: visible;
      height: auto;
    }
  }
}

@media (min-width: 64rem) {
  .bg--top {
    & .second {
      visibility: hidden;
      height: 0;
    }
  }

  .hero {
    .hero__container {
      flex-direction: row;
    }

    .hero__image {
      min-width: 33.75rem;
    }
  }
}
