<section class="features">
  <div class="container features__container">
    <div class="features__content">
      <h2 class="features__title">Read together, grow together</h2>
      <ul class="features__list">
        {% for feature in site.features %}
          <li class="features__item">
            {% include "svgs/icon-check.svg" %}
            <p class="features__text">{{ feature }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="features__image">
      <picture>
        <!-- Desktop (1240px and up) -->
        <source
          media="(min-width: 1240px)"
          srcset="./assets/images/image-read-together-desktop.webp"
        />

        <!-- Tablet (768px to 1439px) -->
        <source
          media="(min-width: 768px)"
          srcset="./assets/images/image-read-together-tablet.webp"
        />

        <!-- Mobile (up to 767px) -->
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/image-read-together-mobile.webp"
        />

        <!-- Fallback image -->
        <img
          class="img--border-radius"
          src="./assets/images/image-read-together-mobile.webp"
          alt="side view people holding books"
        />
      </picture>
    </div>
  </div>
</section>
