<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Join the ultimate tech book club</h1>
      <p class="hero__text">
        Turn your reading time into learning time with fellow tech enthusiasts.
        Get curated recommendations, join vibrant discussions, and level up your
        skills one chapter at a time.
      </p>
      <a class="btn">
        Review membership options {% include "svgs/icon-arrow-down.svg" %}
      </a>
    </div>
    <div class="hero__image">
      <img
        src="{{ '/assets/images/image-hero-mobile.webp' | url }}"
        alt="a man reading in a chair with two women reading over his shoulder"
      />
    </div>
  </div>
</section>
