<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Join the ultimate tech book club</h1>
      <p class="hero__text">
        Turn your reading time into learning time with fellow tech enthusiasts.
        Get curated recommendations, join vibrant discussions, and level up your
        skills one chapter at a time.
      </p>
      <a class="btn--primary">
        Review membership options {% include "svgs/icon-arrow-down.svg" %}
      </a>
      <div class="testimonial">
        <img
          class="testimonial__image"
          src="{{ '/assets/images/image-avatars.webp' | url }}"
          alt="avatars"
        />
        <div class="testimonial__rating">
          <div class="testimonial__rating__stars">
            {% include "svgs/icon-star.svg" %}
            {% include "svgs/icon-star.svg" %}
            {% include "svgs/icon-star.svg" %}
            {% include "svgs/icon-star.svg" %}
            {% include "svgs/icon-star.svg" %}
          </div>
          <div class="testimonial__rating__text">
            200+ developers joined already
          </div>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <picture>
        <!-- Desktop (1240px and up) -->
        <source
          media="(min-width: 1240px)"
          srcset="./assets/images/image-hero-desktop.webp"
        />

        <!-- Tablet (768px to 1439px) -->
        <source
          media="(min-width: 768px)"
          srcset="./assets/images/image-hero-tablet.webp"
        />

        <!-- Mobile (up to 767px) -->
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/image-hero-mobile.webp"
        />

        <!-- Fallback image -->
        <img
          src="./assets/images/image-hero-mobile.webp"
          alt="a man reading in a chair with two women reading over his shoulder"
        />
      </picture>
    </div>
  </div>
</section>
