<footer class="bg--dark">
  <div class="footer__bg-image">{% include "svgs/pattern-dark-bg.svg" %}</div>
  <div class="container">
    <div class="footer__content">
      <h2>Ready to debug your reading list?</h2>
      <div class="bottom">
        <a
          href="#"
          class="btn--primary"
        >
          Review Membership Options {% include "svgs/icon-arrow-up.svg" %}
        </a>
        <div class="testimonial">
          <img
            class="testimonial__image"
            src="{{ './assets/images/image-avatars.webp' | url }}"
            alt="testimonial images"
          />
          <div class="testimonial__rating">
            <div class="testimonial__rating__stars">
              {% include "svgs/icon-star.svg" %}
              {% include "svgs/icon-star.svg" %}
              {% include "svgs/icon-star.svg" %}
              {% include "svgs/icon-star.svg" %}
              {% include "svgs/icon-star.svg" %}
            </div>
            <p class="testimonial__rating__text">
              200+ developers joined already
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2026 - Tech Book Club</p>
      <ul class="footer__socials">
        <li>
          <a href="https://bsky.app">{% include "svgs/logo-bluesky.svg" %}</a>
        </li>
        <li>
          <a href="https://linkedin.com">
            {% include "svgs/logo-linkedin.svg" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
