<section class="testimonial">
  <div class="container testimonial__container">
    <div class="stars"></div>
    <figure class="testimonial__item">
      <blockquote>
        <p>
          "This book club transformed my technical reading from a solitary
          activity into an enriching community experience. The discussions are
          gold!"
        </p>
      </blockquote>
      <footer>
        <p>
          <span class="author">Sarah Chen</span>
          ,
          <cite>Software Architect</cite>
        </p>
      </footer>
    </figure>
  </div>
</section>
